<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p class="lead">Social, Markdown Wikis</p>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>What is Blocipedia?</h3>
    <p class= lead>
      Blocipedia allows you to create, public or private Wiki's that you and friends can collaborate on. Unlike most Wiki sites where you're stuck with 'WYSIWYG',
      Blocipedia supports markdown so you can format your Wiki's the way that fits your needs.
    </p>
  </div>
</div>
