<div class="row">
  <div class="col-md-12 text-center">
    <h1>Create Wiki</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
