// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-table {
  margin-top: 40px;
  padding-bottom: 40px;
}

.my-checkbox {
  padding-left: 20px;
}
